DB_HOST=sqlserver.example.internal
DB_PORT=1433
DB_USER=xreports_app
DB_PASSWORD=replace-before-deployment
DB_DATABASE=xreports
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_ENCRYPT=yes
DB_TRUST_SERVER_CERTIFICATE=no
TZ=America/Bogota
